
body {
  padding-top: 54px;
}

@media (max-width: 995.98px) {
  .main-icons {
    font-size: 8em !important;
    color: #fff;
  }

  .back-to-top{
    display:block;
    font-size: 4em;
    color: #000000;
    position: fixed;
    bottom: 5px;
    right: 10px;
    cursor:pointer;
  }
}

@media (min-width: 996px) {
  .main-icons {
    font-size: 12em !important;
    color: #fff;
  }


  .side-bar{
    position: fixed;
    width: 16em;
  }
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 1200px) {

}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portafolio-item{
  margin-bottom: 30px;
}

/* Custom Classes */

.height-sponsors-img{
  height: 120px !important;
  width: 89px !important;

}

.obj-container {
  padding:  20px 20px
}

.tbl-container {
  width:  100%;
  height: auto;
  position: relative;
  padding:  0 !important;
  padding-bottom: 0 !important;
}


.right-block:before {
      display: block;
      content: " ";
      margin-top: -65px;
      height: 65px;
      visibility: hidden;
}
